<p id="notice"><%= notice %></p>
<h2>Movies directed by <%= @director.name %></h2>
<ul>
  <% @movies.each do |title| %>
  <%= title.title %> :
  <%= title.year %>
 </ul>
 <% end %>


<p>
  <b>Name:</b>
  <%= @director.name %>
</p>

<p>
  <b>Dob:</b>
  <%= @director.dob %>
</p>

<p>
  <b>Photo:</b>
  <%= image_tag @director.dirphoto %>
</p>


<%= link_to 'Edit', edit_director_path(@director) %> |
<%= link_to 'Back', directors_path %>
